@using InternetBankingApp.Core.Application.ViewModels.DashBoard;
@model DashBoardViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usersActive = @ViewBag.UserActive;
    var usersInactive = @ViewBag.UserInactive;
}


<div class="main--content">

    <div class="tabular">
        <div class="card-container">
            <div class="card--wrapper">
                <div class="card--seguidores" style="background: #023e8a">
                    <div class="card--header">
                        <div class="amount--seguidores">
                            <span class="title">Active User</span>
                            <div class="followers-count">@Model.ActiveUsers</div>
                        </div>

                        <i class="fa-solid fa-user-check icon"></i>
                    </div>
                </div>
                <div class="card--seguidores" style="background: #023e8a">
                    <div class="card--header">
                        <div class="amount--seguidores">
                            <span class="title">Inactive User</span>
                            <div class="followers-count">@Model.InactiveUsers</div>
                        </div>
                        <i class="fa-solid fa-user-xmark icon"></i>
                    </div>
                </div>
                <div class="card--seguidores" style="background: #023e8a">
                    <div class="card--header">
                        <div class="amount--seguidores">
                            <span class="title">Pay Today</span>
                            <div class="followers-count">@Model.PayToday</div>
                           
                            <span class="title">Pay Initial</span>
                            <div class="followers-count">@Model.PayInitial</div>
                        </div>
                        <i class="fa-solid fa-money-bill icon"></i>
                    </div>
                </div>
                <div class="card--seguidores" style="background: #023e8a">
                    <div class="card--header">
                        <div class="amount--seguidores">
                            <span class="title">Transation Today</span>
                            <div class="followers-count">@Model.TransactionsToday</div>

                            <span class="title">Trasantion Initial</span>
                            <div class="followers-count">@Model.TransactionsInitial</div>
                        </div>
                        <i class="fa-solid fa-money-bill-transfer icon"></i>
                    </div>
                </div>

                @* Al hacer click en este Div se debe redigidar a una vista con todos los productos *@
                <div class="card--seguidores" style="background: #023e8a">
                    <div class="card--header">
                        <div class="amount--seguidores">
                            <span class="title">Productos Asignados</span>
                            <div class="followers-count">@Model.ProductsCount.Count()</div>
                        </div>
                        <i class="fa-solid fa-address-card icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>