@using InternetBankingApp.Core.Application.Dtos.Account
@using Microsoft.AspNetCore.Http;
@using InternetBankingApp.Core.Application.Helpers;
@using InternetBankingApp.Core.Application.ViewModels.User;
@inject IHttpContextAccessor httpContext;

@{
    AuthenticationResponse user = httpContext.HttpContext.Session.get<AuthenticationResponse>("User");

    var admin = user != null ? user.Roles.Any(r => r == "Admin") : false;

    var client = user != null ? user.Roles.Any(r => r == "Customer") : false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InternetBankingApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InternetBankingApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

</head>
<body>
    <header>
        @if(user != null)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background: #023e8a">
                <div class="container-fluid">
                    @*                     <a class="navbar-brand text-white justify-content-center align-content-center" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-building-columns"></i></a>
                *@                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                                  aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 justify-content-center align-content-center">

                            @if (admin == true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white justify-content-center align-content-center"><i class="fa-solid fa-building-columns"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="Index" asp-route-userId="@user.Id">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="UsersManagement">Users Management</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="LogOut"><i class="fa-solid fa-right-from-bracket"></i></a>
                                </li>
                            }
                            @if (client == true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white justify-content-center align-content-center"><i class="fa-solid fa-building-columns"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-route-userId="@user.Id" asp-action="Index">Home</a>
                                </li>

                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a class="nav-link text-white dropdown-toggle" asp-area="" asp-controller="Customer" asp-action="Index" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            Pagos
                                        </a>

                                        <ul class="dropdown-menu" style="background: #023e8a" aria-labelledby="dropdownMenuLink">

                                            <li><a class=" nav-link text-white dropdown-item" asp-controller="Customer" asp-route-userId="@user.Id" asp-action="PagoTarjetaCredito">Tarjeta Credito</a></li>
                                            <li><a class=" nav-link text-white dropdown-item" asp-route-userId="@user.Id" asp-controller="Customer" asp-action="PagoBeneficiarios">Beneficiarios</a></li>
                                            <li><a class=" nav-link text-white dropdown-item" asp-route-userId="@user.Id" asp-controller="Customer" asp-action="PagoExpreso">Expreso</a></li>
                                            <li><a class=" nav-link text-white dropdown-item" asp-route-userId="@user.Id" asp-controller="Customer" asp-action="PagoPrestamo">Prestamos</a></li>
                                            <li><a class=" nav-link text-white dropdown-item" asp-route-userId="@user.Id" asp-controller="Customer" asp-action="PagoCuentaCuenta">Pago Cuenta a Cuenta</a></li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-route-userId="@user.Id" asp-controller="Customer" asp-action="Beneficiary">Beneficiarios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="Index">Avance Efectivo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="Index">Trasnferencia</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="LogOut"><i class="fa-solid fa-right-from-bracket"></i></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
               
        }
        
    </header>
    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background: #023e8a">

        @if(user != null )
        {
            <div class="container text-white">
                &copy; 2024 - InternetBankingApp
            </div>
        }
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
