@using InternetBankingApp.Core.Application.ViewModels.Products;
@using InternetBankingApp.Core.Application.Enums;
@model ProductViewModel

@foreach (var cuenta in Model.cuentas)
{
    <p>Cuenta de Ahorro</p>
    @* El elementos <a> debe verse de la siguiente forma*@
    @*<a asp-route-identifier="@cuenta.Identifier" asp-route-type="@EProducts.CuentaDeAhorro" asp-controller="Customer" asp-action="DeleteProduct">*@
    <i class="fa-brands fa-product-hunt"></i>
   
}

@foreach (var tarjeta in Model.tarjetas)
{
    <p>Tarjetas de Credito</p>
    @* El elementos <a> debe verse de la siguiente forma*@
    @*<a asp-route-identifier="@tarjeta.Identifier" asp-route-type="@EProducts.CuentaDeAhorro" asp-controller="Customer" asp-action="DeleteProduct">*@
    <i class="fa-brands fa-product-hunt"></i>
    
}

@foreach (var prestamo in Model.prestamos)
{
    <p>Prestamos</p>
    @* El elementos <a> debe verse de la siguiente forma*@
    @*<a asp-route-identifier="@prestamo.Identifier" asp-route-type="@EProducts.CuentaDeAhorro" asp-controller="Customer" asp-action="DeleteProduct">*@
    <i class="fa-brands fa-product-hunt"></i>
}