@model List<InternetBankingApp.Core.Application.ViewModels.Products.ProductViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main--content">
    <div class="tabular">
        <div class="card-container">
            <div class="card--wrapper">
                @foreach (var item in Model)
                {
                    
                    @foreach (var cuentas in item.cuentas)
                    {
                        @if(cuentas.Main == true)
                        {
                            <div class="card--seguidores" style="background: #023e8a">
                                <div class="card--header">
                                    <div class="amount--seguidores">
                                        <span class="titleCuentaPrimaria">Cuenta de Ahorro Primaria</span>

                                        <div class="followers-count mt-2">

                                            <h6>Identifer: @cuentas.Identifier </h6>
                                            <h6>Saving: @cuentas.Balance$ </h6>

                                        </div>

                                    </div>

                                    <i class="fa-solid fa-piggy-bank icon"></i>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card--seguidores" style="background: #023e8a">
                                <div class="card--header">
                                    <div class="amount--seguidores">
                                        <span class="title">Cuenta de Ahorro</span>

                                        <div class="followers-count mt-2">

                                            <h6>Identifer: @cuentas.Identifier </h6>
                                            <h6>Saving: @cuentas.Balance$</h6>

                                        </div>

                                    </div>

                                    <i class="fa-solid fa-piggy-bank icon"></i>
                                </div>
                            </div>
                        }


                }
                    @if (item.tarjetas.Count is not 0)
                    {
                        @foreach (var tarjetas in item.tarjetas)
                        {
                            <div class="card--seguidores" style="background: #023e8a">
                               <div class="card--header">
                                  <div class="amount--seguidores">
                                        <span class="title">Tarjeta de Credito</span>

                                        <div class="followers-count mt-2">

                                            <h6>Identifer: @tarjetas.Identifier </h6>
                                            <h6>Limit: @tarjetas.Limit$</h6>
                                            <h6 class="fw-bold" style="color: #eeef20">Debt: @tarjetas.Debt$</h6>


                                        </div>

                                    </div>
                                    <i class="fa-brands fa-cc-visa icon"></i>

                               </div>
                            </div>
                        }
                    }

                    if (item.prestamos.Count is not 0)
                    {
                        @foreach (var prestamo in item.prestamos)
                        {
                            <div class="card--seguidores" style="background: #023e8a">
                                <div class="card--header">
                                    <div class="amount--seguidores">
                                        <span class="title">Cuenta de Prestamo</span>

                                        <div class="followers-count mt-2">

                                            <h6>Identifer: @prestamo.Identifier </h6>
                                            <h6>Initial Debt: @prestamo.InitialDebt$ </h6>
                                            <h6 class="fw-bold" style="color: #eeef20">Debt: @prestamo.CurrentDebt$</h6>

                                        </div>
                                    </div>

                                    <i class="fa-brands fa-cc-mastercard icon"></i>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>


