@model InternetBankingApp.Core.Application.ViewModels.Transaccion.SaveTransaccionViewModel;
@inject IHttpContextAccessor httpContext;
@using InternetBankingApp.Core.Application.Dtos.Account
@using Microsoft.AspNetCore.Http
@using InternetBankingApp.Core.Application.Helpers;
@{
    ViewData["Title"] = "PagoCuentaCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var beneficiario = ViewBag.identifierBeneficiario as List
    <InternetBankingApp.Core.Application.ViewModels.Beneficiario.ClientBeneficiaryViewModel>;

    var user = httpContext.HttpContext.Session.get<AuthenticationResponse>
          ("User");

    var numCuentas = @ViewBag.indentificador;


}



@* <div class="d-flex align-items-center justify-content-center container mt-4">
    <form method="post" class="w-25 bg-secondary p-3" asp-controller="Customer" asp-action="PagoCuentaCuentaPost">
        <div class="p-2 bg-light mb-2 ">
            <h1 style="color: white;" class="text-center text-black">Pago Cuenta a Cuenta</h1>
        </div> @Html.ValidationSummary(false, "", new { @class = "text-white" })


        <label class="mb-1 text-white" asp-for="ProductOrigenIde">Monto del Pago</label>

        <input type="number" class="form-control mb-3" asp-for="Amount" />

        <input type="hidden" asp-for="userId" value="@user.Id" />

        <input type="hidden" asp-for="Tipe" value="5" />

        <span asp-validation-for="ProductDestinoIde" class="text-danger"></span>
        <label class="mb-1 text-white" asp-for="ProductDestinoIde">Cuentas de Destino</label>
        <select class="form-control mb-3" asp-for="ProductDestinoIde">

            @foreach (var item in numCuentas)
            {
                <option value="@item">
                    @item
                </option>
            }
        </select>

        <label class="mb-1 text-white" asp-for="ProductOrigenIde">Cuentas de Origen</label>
        <select class="form-control mb-3" asp-for="ProductOrigenIde">

            @foreach (var item in numCuentas)
            {
                <option value="@item">
                    @item
                </option>
            }
        </select>



        <div class="d-flex  justify-content-end align-items-end " style="gap:10px ;">
            <a asp-controller="Customer" asp-action="Index" asp-route-userId="@user.Id" class="btn btn-danger  font-weight-bold  ">Cancelar</a>
            <button type="submit" class="btn btn-primary font-weight-bold">Pagar</button>


        </div>
    </form>
</div>
 *@

<div class="row">
   <div class="container">
       <div class="justify-content-center">
           <div class="col-4 offset-4 mt-5">
                <div class="card-header text-light text-center" style="background: #023e8a">
                    <h6>Transferencia</h6>
               </div>
               <div class="card-body">
                    <form method="post" asp-controller="Customer" asp-action="PagoCuentaCuentaPost">
                        <div class="mb-3">
                            <label asp-for="ProductDestinoIde">Cuentas de Destino</label>
                            <select class="form-control mb-3" asp-for="ProductDestinoIde">
                                <option value="0">Seleciona una cuenta</option>
                                @foreach (var item in numCuentas)
                                {
                                    <option value="@item">
                                        @item
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="ProductDestinoIde"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ProductOrigenIde">Cuentas de Origen</label>
                            <select class="form-control mb-3" asp-for="ProductOrigenIde">
                                <option value="0">Seleciona una cuenta</option>
                                @foreach (var item in numCuentas)
                                {
                                    <option value="@item">
                                        @item
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="ProductOrigenIde"></span>
                        </div>
                        <div class="mb-3">
                            <label>Monto</label>
                            <input type="number" value="0" asp-for="Amount" class="form-control" placeholder="$Ingrese el monto" />
                            <span asp-validation-for="Amount"></span>
                        </div>

                        <input type="hidden" asp-for="userId" value="@user.Id" />

                        <input type="hidden" asp-for="Tipe" value="5" />

                        <div class="d-flex  justify-content-end align-items-end " style="gap:10px ;">
                            <a asp-controller="Customer" asp-action="Index" asp-route-userId="@user.Id" class="btn btn-danger  font-weight-bold  ">Cancelar</a>
                            <button type="submit" class="btn text-white" style="background: #023e8a">Pagar</button>
                        </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>