@model InternetBankingApp.Core.Application.ViewModels.Transaccion.SaveTransaccionViewModel;
@inject IHttpContextAccessor httpContext;
@using InternetBankingApp.Core.Application.Dtos.Account
@using Microsoft.AspNetCore.Http
@using InternetBankingApp.Core.Application.Helpers;
@{
    ViewData["Title"] = "PagoExpreso";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = httpContext.HttpContext.Session.get<AuthenticationResponse>
          ("User");

    var numCuentas = @ViewBag.indentificador;
}



<div class="row">
    <div class="container">
        <div class="justify-content-center">
            <div class="col-4 offset-4 mt-5">
                <div class="card-header text-light text-center" style="background: #023e8a">
                    <h6>Pago Expreso</h6>
                </div>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="card-body">
                    
                    <form method="post" asp-controller="Customer" asp-action="PagoExpreso">

                        <div class="mb-3">
                            <label asp-for="ProductDestinoIde">Numero Cuenta</label>
                            <input type="text" class="form-control mb-3" placeholder="Numero de Cuenta" asp-for="ProductDestinoIde" value="" />
                            <span asp-validation-for="ProductDestinoIde" class="text-danger"></span>

                        </div>

                        <div class="mb-3">
                            <label asp-for="ProductOrigenIde">Cuentas</label>
                            <select class="form-control mb-3" asp-for="ProductOrigenIde">
                                <option value="0">Seleciona una cuenta</option>
                                @foreach (var item in numCuentas)
                                {
                                    <option value="@item">
                                        @item
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="ProductOrigenIde" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label>Monto</label>
                            <input type="number" value="0" asp-for="Amount" class="form-control" placeholder="$Ingrese el monto" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Tipe" value="1" />

                        <input type="hidden" name="userId" value="@user.Id" />
                        <div class="d-flex  justify-content-end align-items-end " style="gap:10px ;">
                            <a asp-controller="Customer" asp-action="Index" asp-route-userId="@user.Id" class="btn btn-danger  font-weight-bold justify-content-end float-end  ">Cancelar</a>
                            <button type="submit" asp-route-userId="@user.Id" class="btn text-white" style="background: #023e8a">Pagar</button>
                        </div>
                      
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
